img{
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    width: 90vw;
    max-width: 700px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
label{
  margin: 5px;
}
input:invalid {
    border: 2px solid coral;
}
input:valid {
    border: 2px solid black;
}
div.headerWrapper{
  margin: 10px;
  padding: 10px;
  border: solid;
  border-color: black;
  border-radius: 10px;
  position: sticky;
  display: flex;
  justify-content: center;
  
}
div.mainWrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
div.RowWrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: row wrap;
}
div.labelInputWrapper{
  margin: 5px;
  padding-left: 2px;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  flex-flow: row wrap;
}
div.imageDataWrapper
{
  display:flex;
  flex-flow: row wrap;
}
input.butter{
  margin: 10px;
  padding: 5px;
  width: 200px;
  display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
  background-color: #04AA6D;
  border: solid black;
  color: white;
  padding: 16px 32px;
  font-size: 16px;
  transition-duration: 0.4s;
}
input.butter:hover{
  background-color: hsl(0, 0%, 100%);
  color: #04AA6D;

}
span {
  font-size: 40px;
}
input{
  height: 22px;
}
body{
  background: linear-gradient(-45deg,#ffffff,#ff9dc3,#afeaff,#9affe7);
  background-size: 400%;
  animation: gradient 10s ease infinite;
  -webkit-animation: gradient 20s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 25%;
	}
	50% {
		background-position: 50% 25%;
	}
	100% {
		background-position: 0% 25%;
	}
}

p{
  padding: 10px;
}